{% extends 'base/base.html' %}
{% load static %}
{%  block title %}Python Pro - Aperitivos{% endblock title %}
{%  block description %}Página com vídeo gratuito de Python {% endblock description %}
{%  block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ video.titulo }}</h1>
            <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<p><a href="https://vimeo.com/331370698">Python Programming |Why Python Programming</a> from <a href="https://vimeo.com/user97551480">star certification</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
	</div>
   </div>
{% endblock body %}


